body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: #ffffff;
  line-height: 1.6;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 16px;
  border-bottom: 1px solid #1e293b; 
}

.personalContainer {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 16px;
  border-bottom: 1px solid #1e293b;
  position: relative;
}

.personalBlock{
flex: 2;
}
.personalTitle{
  font-size: 45px;
  color: #d3e1f4; 
}

.personalImage {
  margin-top: 80px;
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #38bdf8;
}

.aboutTitle {
  font-size: 28px;
  margin-top: 32px;
  color: #f8f8f9;
}

.aboutText {
  font-size: 16px;
  color: #cbd5e1;
}

.experienceTitle,
.connectTitle {
  font-size: 28px;
  color: #f6f7f8;
}

.experienceList,
.connectList {
  list-style-type: disc;
  padding-left: 24px;
  color: #cbd5e1;
}

.experienceItem,
.connectItem {
  margin-bottom: 12px;
  font-size: 16px;
}